* {
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}
header div {
  width: 90%;
  height: 13.3333333333vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div .search {
  width: 5.6vw;
}
header div .search img {
  width: 5.6vw;
  height: 5.6vw;
}
header div .logo {
  width: 86.6666666667vw;
}
header div .logo img {
  width: 20vw;
}

footer {
  width: 100vw;
  height: 13.8666666667vw;
  background-color: #fff;
  background: #fcfcfc;
  display: flex;
  justify-content: space-around;
  align-items: space;
  position: sticky;
  bottom: 0px;
}
footer div {
  width: 10.6666666667vw;
  height: 13.3333333333vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
footer div img {
  margin: auto;
  height: 8.8vw;
  text-align: center;
}
footer div p {
  width: 11.2vw;
  height: 3.2vw;
  color: #000;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: center;
  line-height: 3.2vw;
}
footer div p:hover {
  color: #884e22;
}
footer div .liang {
  color: #884e22;
}

.lunbotu {
  width: 100vw;
  height: 54.6666666667vw;
  background: url("../images/index/202012291159312424.jpg.png") no-repeat center/cover;
}

.Introduction {
  width: 100vw;
  height: 8.8vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Introduction div {
  width: 20.2666666667vw;
  height: 4.5333333333vw;
  font-size: 3.2vw;
  line-height: 4.5333333333vw;
  display: flex;
}

.species {
  width: 100vw;
  height: 22.6666666667vw;
  display: flex;
  justify-content: space-around;
}
.species div {
  width: 10.6666666667vw;
  height: 22.6666666667vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 3.7333333333vw;
}
.species div img {
  width: 10.6666666667vw;
}

.fg {
  width: 100vw;
  height: 2.1333333333vw;
  background-color: #f7f7f7;
}

.ymxh {
  width: 100vw;
  height: auto;
  margin: 0 0 2.6666666667vw;
  position: relative;
}
.ymxh .ymxh-p {
  margin: 2.6666666667vw auto;
  width: 89.3333333333vw;
  height: 4vw;
  color: #884e22;
  font-size: 4vw;
  text-align: left;
  line-height: 4vw;
  text-indent: 1em;
}
.ymxh .ymxh-p::before {
  content: "";
  position: absolute;
  border: 0.2666666667vw solid #884e22;
  height: 4vw;
  width: 0;
  left: 3.0666666667vw;
  top: -0.5333333333vw;
}
.ymxh .ymxh-top div {
  margin: 2.6666666667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ymxh .ymxh-top div .img {
  width: 29.6vw;
  height: 24.5333333333vw;
  margin: 0;
}
.ymxh .ymxh-top div .img:first-of-type {
  background: url("../images/index/imgNav1.png.png") no-repeat center/cover;
}
.ymxh .ymxh-top div .img:nth-of-type(2) {
  background: url("../images/index/imgNav2.png.png") no-repeat center/cover;
}
.ymxh .ymxh-top div .img:nth-of-type(3) {
  background: url("../images/index/imgNav3.png.png") no-repeat center/cover;
}
.ymxh .ymxh-bottom {
  margin: 0 2.6666666667vw;
  display: flex;
  justify-content: space-around;
}
.ymxh .ymxh-bottom div {
  height: 28.2666666667vw;
  width: 22.6666666667vw;
  background: #f3ebe3;
  border-radius: 1.3333333333vw;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.ymxh .ymxh-bottom div p {
  margin-top: 0.8vw;
  width: 22.6666666667vw;
  color: rgb(136, 78, 34);
  font-size: 3.7333333333vw;
  font-weight: 600;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}
.ymxh .ymxh-bottom div img {
  width: 18.1333333333vw;
}

.aqxh {
  position: relative;
}
.aqxh .aqxh-p {
  margin: 7.5546666667vw auto 13.3333333333vw;
  width: 16vw;
  height: 5.6vw;
  font-size: 4vw;
  color: #555555;
  font-weight: 600;
  font-family: "PingFang SC";
}
.aqxh::before {
  content: "";
  height: 0;
  width: 21.3333333333vw;
  border: 0.5333333333vw solid #884e22;
  position: absolute;
  top: 8vw;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.5333333333vw;
}
.aqxh .aqxh-sp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.aqxh .aqxh-sp div {
  margin-top: 2.6666666667vw;
  width: 44vw;
}
.aqxh .aqxh-sp div img {
  width: 44vw;
}
.aqxh .aqxh-sp div p {
  width: 14.9333333333vw;
  height: 5.3333333333vw;
  color: #666666;
  font-size: 3.7333333333vw;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: left;
}
.aqxh .aqxh-sp div div {
  margin-top: 2.6666666667vw;
  display: flex;
  justify-content: space-between;
}
.aqxh .aqxh-sp div div span:first-of-type {
  width: 10.6666666667vw;
  height: 5.3333333333vw;
  color: #ff4433;
  font-size: 3.7333333333vw;
  font-weight: 600;
  font-family: "PingFang SC";
  text-align: left;
}
.aqxh .aqxh-sp div div span:last-of-type {
  width: 20vw;
  height: 4.5333333333vw;
  font-size: 3.2vw;
  font-weight: 400;
  color: #999999;
  font-family: "PingFang SC";
  text-align: left;
}
.aqxh .btn {
  text-align: center;
  margin: 1.3333333333vw 0;
}
.aqxh .btn input {
  background: #ffffff;
  width: 18.6666666667vw;
  height: 7.2vw;
  color: #999999;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "PingFang SC";
}

/*# sourceMappingURL=index.css.map */
