footer {
  width: vw(375);
  height: vw(52);
  background-color: #fff;
  background: #fcfcfc;
  display: flex;
  justify-content: space-around;
  align-items: space;
  position: sticky;
  bottom: 0px;
  div {
    width: vw(40);
    height: vw(50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    img {
      margin: auto;
      height: vw(33);
      text-align: center;
    }

    p {
      width: vw(42);
      height: vw(12);
      color: #000;
      font-size: vw(12);
      font-weight: 400;
      font-family: "PingFang SC";
      text-align: center;
      line-height: vw(12);
      &:hover {
        color: #884e22;
      }
    }
    .liang {
      color: #884e22;
    }
  }
}
