header {
  width: vw(375);
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
  div {
    width: 90%;
    height: vw(50);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search {
      width: vw(21);
      .icon-sousuo {
        font-size: vw(21);
      }
    }
    .logo {
      width: vw(325);
      img {
        width: vw(75);
      }
    }
  }
}
